#main{
	margin-left: 20%;
}
#container{
	border: 1px solid black;
	height: 400px;
	width: 600px;
	float: left;
}
.floor{
	border: 1px solid black;
	width: 95.4%;
    margin-left: 2.3%;
    float: left;
    min-height: 80px;
}
#elevatorStage{
	border: 1px solid black;
	height: 481px;
	width: 10%;
	float: left;
	background-image: url('../images/elevStage.jpg');
	background-size: 100% 100%;
}
#floor1{
	background-color: pink;
	background-image: url('../images/pink.jpg');
	background-size: 100% 100%;
}
#floor2{
	background-color: purple;
	background-image: url('../images/purple.jpg');
	background-size: 100% 100%;
}
#floor3{
	background-color: red;
	background-image: url('../images/red.jpg');
	background-size: 100% 100%;
}
#floor4{
	background-color: green;
	background-image: url('../images/green.jpg');
	background-size: 100% 100%;
}
#floor5{
	background-color: yellow;
	background-image: url('../images/yellow.jpg');
	background-size: 100% 100%;
}
#floor6{
	background-color: blue;
	background-image: url('../images/blue.jpg');
	background-size: 100% 100%;
}
.out{
	height: 5%;width: 5%;float: right; margin-top: 0.5%; margin-right: 3%; position: relative;
}
#elevator{
	border: 1px solid black;
	background-image: url("../images/elevator.jpg");
	background-size: 100% 100%;
	height: 17%;
	width: 100%;
	margin-top: 366%;/*step 61%*/
	position: relative;
	top: 0px;
}
#stopwatch{
	width: 4%;
	height: 4%;
	float: left;
	margin-top: 1.4%;
}
#clock{
	margin-left: 23%;
	margin-top: 3%;
}
#digitalTime{
	height: 75px;
	width: 10%;
	float: left;
	margin-left: 2%;
	text-align: center;
}
#digitalTime p{
	color: #0000b3;
	font-size: 3.5em;
	margin-left: -40%;
}
#score{
	float: left;
	margin-left: 3.5%;
	height: 75px;
	text-align: center;
	position: static;
}
#score p{
	color: #e6b800;
	font-size: 3.5em;
}
#targetDiv{
	float: left;
	margin-left: 3%;
	height: 75px;
	text-align: center;
	position: static;
}
#target{
	color: #48FF00;
	font-size: 3.5em;
}
.stickMan{
	height: 75%;
	width: 25%;
	float: right;
	margin-top: 15%;
}