#main{
	margin-left: 20%;
}
#container{
	border: 1px solid black;
	height: 400px;
	width: 600px;
	float: left;
}
.floor{
	border: 1px solid black;
	width: 95.4%;
    margin-left: 2.3%;
    float: left;
    min-height: 80px;
}
#elevatorStage{
	border: 1px solid black;
	height: 481px;
	width: 10%;
	float: left;
	background-image: url('../images/elevatorstage.jpg');		
	background-position: 100% 100%;
}
#floor1{
	background-color: pink;
	background-image: url('../images/pinkfloor.png');
	background-size: 100%;
	background-position: 100% 30%;
}
#floor2{
	background-color: purple;
	background-image: url('../images/purplefloor.png');
	background-size: 100%;
	background-position: 100% 5%;
}
#floor3{
	background-color: red;
	background-image: url('../images/redfloor.png');
	background-size: 100%;
	background-position: 100% 50%;
}
#floor4{
	background-color: green;
	background-image: url('../images/greenfloor.png');
	background-size: 100%;
	background-position: 100% 90%;
}
#floor5{
	background-color: yellow;
	background-image: url('../images/yellowfloor.png');
	background-size: 110%;
	background-position: 50% 15%;
}
#floor6{
	background-color: blue;
	background-image: url('../images/bluefloor.jpg');
	background-size: 100%;
	background-position: 100% 60%;
}
.out{
	height: 200%;
	width: 200%;
	float: right; 
	margin-top: 0.5%; 
	margin-right: 3%;	
}
#elevator{
	border: 1px solid black;
	background-image: url("../images/elevator.png");
	background-position: 45% 70%;
	background-size: 200% 150%;
	height: 17%;
	width: 100%;
	margin-top: 366%;/*step 61%*/
	position: relative;
	top: 0px;
}
#stopwatch{
	width: 4%;
	height: 4%;
	float: left;
	margin-top: 1.4%;
}
#clock{
	margin-left: 23%;
	margin-top: 3%;
}
#digitalTime{
	height: 75px;
	width: 10%;
	float: left;
	margin-left: 2%;
	text-align: center;
}
#digitalTime p{
	color: #0000b3;
	font-size: 3.5em;
	margin-left: -40%;
}
#score{
	float: left;
	margin-left: 3.5%;
	height: 75px;
	text-align: center;
	position: static;
}
#score p{
	color: #e6b800;
	font-size: 3.5em;
}
#targetDiv{
	float: left;
	margin-left: 3%;
	height: 75px;
	text-align: center;
	position: static;
}
#target{
	color: #48FF00;
	font-size: 3.5em;
}
.stickMan{
	height: 50% !important;
	width: 30% !important;
	float: right;
	margin-top: 15%;
}
#blueCharacter{
	height: 8.5%;
	width: 8.5%;
    float: right;
}
#redCharacter{
	height: 8.5%;
	width: 8.5%;
    float: right;
}
#greenCharacter{
	height: 8.5%;
	width: 8.5%;
    float: right;
}
#pinkCharacter{
	height: 7%;
	width: 7%;
    float: right;
	margin-top: 2%;
	margin-right: 2%;
}
#yellowCharacter{
	height: 8.5%;
	width: 8.5%;
    float: right;
}
#purpleCharacter{
	height: 7%;
	width: 7%;
    float: right;
	margin-right: 2%;
}